#calc-container {
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  align-items: center;
  width: 400px;
  height: 400px;
  padding-top: 20px;
  padding-bottom: 20px;
  background-color: aquamarine;
}

.calc-row {
  display: flex;
}
.calc-input {
  width: 300px;
  height: 80px;
  background-color: white;
}
#result {
  width: 50px;
}
